/* Estilo por defecto para pantallas grandes (1440px y mayores) */
body {
    background-color: red;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    font-size: 32px;
}

p {
    text-align: center;
    font-size: 24px;
}

img {
    display: block;
    margin: 0 auto;
    width: 50%;
}

/* Media query para pantallas medianas (768px a 1439px) */
@media (max-width: 1439px) and (min-width: 768px) {
    body {
        background-color: green;
    }

    p {
        font-size: 18px;
    }

    img {
        width: 70%;
    }
}

/* Media query para pantallas pequeñas (425px a 767px) */
@media (max-width: 767px) and (min-width: 426px) {
    body {
        background-color: blue;
    }

    p {
        font-size: 14px;
    }

    img {
        width: 100%;
    }
}

/* Media query para pantallas muy pequeñas (425px y menores) */
@media (max-width: 425px) {
    body {
        background-color: blue;
    }

    p {
        font-size: 14px;
    }

    img {
        width: 100%;
    }
}
